---
import "../styles/global.css";
---

<head>
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<div class="bg-slate-800 h-screen w-screen">
    <div
        style={{
            background:
                "linear-gradient(-45deg, #FAB85C, #E053A8, #6E87F5, #59DE90, #FFF266)",
            backgroundSize: "500% 500%",
            animation: "gradient 10s ease-in-out infinite",
        }}
        class="w-full h-60 shadow-lg absolute"
    >
        <div
            class="text-white text-6xl font-semibold h-full w-full text-center pt-20"
        >
            <span>TANJUN</span>
        </div>
    </div>
</div>
